<div class="py-4 mb-2">
  <h3 class="d-inline-block">BandMember Details</h3>

  <div class="float-right">
    <%= linkTo(bandMembersPath(), {class: "btn btn-info"}) { %>
      Back to all BandMembers
    <% } %>
    <%= linkTo(editBandMemberPath({ band_member_id: bandMember.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(bandMemberPath({ band_member_id: bandMember.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>

<div>
  Band: <%= bandMember.BandID %>
  <br>
  <br>
  Artist: <%= bandMember.ArtistID %>
</div>

<ul class="list-group mb-2 ">

</ul>
