<div class="py-4 mb-2">
  <h3 class="d-inline-block">Songs</h3>
  <div class="float-right">
    <%= linkTo(newSongsPath(), {class: "btn btn-primary"}) { %>
      Create New Song
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (song) in songs { %>
      <tr>
        
        <td>
          <div class="float-left">
            <!-- <image href=<%= song.ImgUrl %>></image> -->
            <image style="height:10ex;width:10ex;" src="http://localhost:3000/assets/images/no-image-icon.png"></image>
            <br>
            <span style="font-weight:bold; font-size:x-large"><%= song.Name %></span>
            <br>
            <span>$<%= song.Price %></span>
            <hr>
            <span>Artist: <%= song.ArtistID %></span><br>
            <span>Album: <%= song.ArtistID %></span>
            <hr>
            <%= song.Description %>
            <hr>
          </div>
          <div class="float-right">
            <%= linkTo(songPath({ song_id: song.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editSongPath({ song_id: song.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(songPath({ song_id: song.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
